@use './tokens';
@use './reset';
@use './mixins';
@use './typography';
@use './utilities';

body {
  background-color: tokens.$color-background;
  color: tokens.$color-text-primary;
}

body.noScroll {
  overflow: hidden;
}
